# Lombok configuration
lombok.addLombokGeneratedAnnotation = true
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.context.annotation.Lazy
lombok.copyableAnnotations += javax.annotation.Nonnull
lombok.copyableAnnotations += javax.annotation.Nullable
lombok.copyableAnnotations += javax.annotation.CheckReturnValue
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonProperty
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonFormat
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonIgnore
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.media.Schema
lombok.copyableAnnotations += org.springframework.validation.annotation.Validated

# Coverage improvement
lombok.toString.includeFieldNames = true
lombok.equalsAndHashCode.callSuper = call
lombok.equalsAndHashCode.doNotUseGetters = true
lombok.toString.doNotUseGetters = true
